<div class="ui-g">
  <div class="ui-g-12 ui-lg-12 ui-md-12">
   
<p-table [value]="cars"
[resizableColumns]="true" [scrollable] = "true" [paginator]="true" [rows]="2" >
  <ng-template pTemplate="caption">
    <div style="display: flex; width: 100%">
      <input type="text" pInputText />
    </div>
  </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 10em">Vineerererrrrrrrrrrrr</th>
            <th style="min-width: 5em">Yearreree</th>
            <th style="width: 10em"> Brand</th>
            <th style="width: 10em">Color</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-car>
        <tr>
            <td style="width: 10em" class="ui-resizable-column">{{'hellosdsdsdsdsdsdsdsdsdssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss'}}</td>
            <td  style="min-width: 5em" class="ui-resizable-column">{{'hello'}}</td>
            <td style="width: 10em" class="ui-resizable-column">{{'hello'}}</td>
            <td style="width: 10em" class="ui-resizable-column">{{'hello'}}</td>
        </tr>
        <tr>
            <td style="width: 10em" class="ui-resizable-column">{{'hello'}}</td>
            <td style="min-width: 5em" class="ui-resizable-column">{{'hello'}}</td>
            <td style="width: 10em" class="ui-resizable-column">{{'hello'}}</td>
            <td style="width: 10em" class="ui-resizable-column">{{'hello'}}</td>
        </tr>
    </ng-template>
</p-table>
  </div>
</div>